.btn {
	cursor: pointer;
	outline: none;

	background: #eee;
}

.btn:active {
	-webkit-box-shadow: inset 1px 1px 2px 1px rgba(50,50,50,0.25);
	   -moz-box-shadow: inset 1px 1px 2px 1px rgba(50,50,50,0.25);
		  -ms-box-shadow: inset 1px 1px 2px 1px rgba(50,50,50,0.25);
			    box-shadow: inset 1px 1px 2px 1px rgba(50,50,50,0.25);
}

.btn:focus {
	border: 1px dotted #33cc9c;
}

.btn-upload {
	width: 42px;
	height: 42px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 8px;
	color: white;

	background: #33cc9c;
	border: 1px solid #33cc9c;
}

.btn-upload:focus {
	border: 1px dotted white;
}	

.btn-upload:hover {
	background: #30c09c;
	color: white;
}

.player-btn {
	width: 50px;
	height: 50px;
	outline: none;
	cursor: pointer;
	color: #777;
	font-size: 1em;
	border: 1px solid transparent;
	border-radius: 50%;
	padding: 4px;
	margin: 4px;
}

.player-btn:hover {
	background: #33cc9c;
	border-color: #33cc9c;
	color: white;
}

.player-btn.large {
	font-size: 1.25em;
	width: 75px;
	height: 75px;
}

.player-btn.small {
	font-size: 1em;
	width: 35px;
	height: 35px;
}

.player-btn.on {
	border-color: #33cc9c;
	color: #33cc9c;
}

.player-btn.on:hover {
	color: white;
}

input#timeline {
	width: 80%;
	vertical-align: middle;
}

.volume-wrap {
	position: relative;
}

.volume-wrap:hover .volume-box,
.btn-volume:hover ~ .volume-box,
.btn-volume:focus ~ .volume-box {
	visibility: visible;
	opacity: 1;
}

.volume-box {
	width: 100px;
	position: absolute;
	bottom: 70px;
	left: -30px;
	background: transparent;
	visibility: hidden;
	opacity: 0;

	-webkit-transition: 0.25s;
	   -moz-transition: 0.25s;
	    -ms-transition: 0.25s;
		      transition: 0.25s;

	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
		   		transform: rotate(-90deg);
}

input#volume {
	width: 100px;
}

.play-list {
	list-style: none;
	width: 96%;
	margin: 0 auto;
	padding: 0;
}

.play-list .list-item {
	padding: 4px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.play-list .list-item:hover {
	background: #fafafa;
}

.play-list .list-icon {
	position: absolute;
	right: 8px;
	top: 18px;
}

.play-list .list-item:last-child {
	border-bottom: none;	
}

.loading {
	margin-bottom: 4px;
	display: none;
	-webkit-animation: blink 1.2s infinite;
		 -moz-animation: blink 1.2s infinite;
			    animation: blink 1.2s infinite;
}

.loading.show {
	display: block;
}

@-webkit-keyframes blink {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes blink {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}

.logo-animation {
	-webkit-animation: logo 10s linear 0 infinite alternate;
		 -moz-animation: logo 10s linear 0 infinite alternate;
		      animation: logo 10s linear 0 infinite alternate;
}

@-webkit-keyframes logo {
	0%   {color: #33cc9c; /*verde claro*/}
	25%  {color: #54bbf7; /*azul claro}*/}
	50%  {color: #9b54f7; /*roxo claro*/}
	75%  {color: #dc54f7; /*rosa claro*/}
	100% {color: #f75454; /*vermelho claro*/}
}

@keyframes logo {
	0%   {color: #33cc9c; /*verde claro*/}
	25%  {color: #54bbf7; /*azul claro*/}
	50%  {color: #9b54f7; /*roxo claro*/}
	75%  {color: #dc54f7; /*rosa claro*/}
	100% {color: #f75454; /*vermelho claro*/}
}

.playing {
	font-weight: bold;
	color: #33cc9c;

	-webkit-animation: blink 1.5s infinite;
	   -moz-animation: blink 1.5s infinite;
				  animation: blink 1.5s infinite;
}

.opaque {
	opacity: 0.5;
	
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.opaque:hover,
.opaque:focus {
	opacity: 1;
}