.btn {
	cursor: pointer;
	outline: none;

	background: #eee;
}

.btn:active {
	-webkit-box-shadow: inset 1px 1px 2px 1px rgba(50,50,50,0.25);
	   -moz-box-shadow: inset 1px 1px 2px 1px rgba(50,50,50,0.25);
		  -ms-box-shadow: inset 1px 1px 2px 1px rgba(50,50,50,0.25);
			    box-shadow: inset 1px 1px 2px 1px rgba(50,50,50,0.25);
}

.btn:focus {
	border: 1px dotted #33cc9c;
}

.btn-upload {
	width: 42px;
	height: 42px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 8px;
	color: white;

	background: #33cc9c;
	border: 1px solid #33cc9c;
}

.btn-upload:focus {
	border: 1px dotted white;
}	

.btn-upload:hover {
	background: #30c09c;
	color: white;
}

.player-btn {
	width: 50px;
	height: 50px;
	outline: none;
	cursor: pointer;
	color: #777;
	font-size: 1em;
	border: 1px solid transparent;
	border-radius: 50%;
	padding: 4px;
	margin: 4px;
}

.player-btn:hover {
	background: #33cc9c;
	border-color: #33cc9c;
	color: white;
}

.player-btn.large {
	font-size: 1.25em;
	width: 75px;
	height: 75px;
}

.player-btn.small {
	font-size: 1em;
	width: 35px;
	height: 35px;
}

.player-btn.on {
	border-color: #33cc9c;
	color: #33cc9c;
}

.player-btn.on:hover {
	color: white;
}

input#timeline {
	width: 80%;
	vertical-align: middle;
}

.volume-wrap {
	position: relative;
}

.volume-wrap:hover .volume-box,
.btn-volume:hover ~ .volume-box,
.btn-volume:focus ~ .volume-box {
	visibility: visible;
	opacity: 1;
}

.volume-box {
	position: absolute;
	bottom: 92px;
	left: -48px;
	background: transparent;
	visibility: hidden;
	opacity: 0;

	-webkit-transition: 0.25s;
	   -moz-transition: 0.25s;
	    -ms-transition: 0.25s;
		    transition: 0.25s;

	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		    transform: rotate(-90deg);
}

.play-list {
	list-style: none;
	width: 96%;
	margin: 0 auto;
	padding: 0;
}

.play-list .list-item {
	padding: 4px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.play-list .list-item:hover {
	background: #fafafa;
}

.play-list .list-icon {
	position: absolute;
	right: 8px;
	top: 18px;
}

.play-list .list-item:last-child {
	border-bottom: none;	
}

.range {
	-webkit-appearance: none;
	border-radius: 100px;
	box-shadow: inset 0 0 1px rgba(50,50,50,0.2);
	background: #fff;
	height: 10px;
	border: 1px solid #ddd;
	outline: none;
	cursor: pointer;
}

.range::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 100px;
	background: #33cc9c;
	height: 20px;
	width: 20px;
}

.range:active::-webkit-slider-thumb {
	background: #30c090;

	-webkit-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0, 0.2);
		      box-shadow: inset 1px 1px 2px 0 rgba(0,0,0, 0.2);
}

.range::-moz-range-track {
	border-radius: 100px;
	box-shadow: inset 0 0 1px rgba(50,50,50,0.2);
	background: #fff;
	height: 10px;
	border: 1px solid #ddd;
	outline: none;
	cursor: pointer;
}

.range::-moz-range-thumb { /*bolinha*/
  border-radius: 100px;
	background: #33cc9c;
	border: none;
	height: 20px;
	width: 20px;

	transition: 0.2s;
}  

.range:active::-moz-range-thumb {
	background: #30c090;

	-moz-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0, 0.2);
		   box-shadow: inset 1px 1px 2px 0 rgba(0,0,0, 0.2);
}

.range::-ms-track {
	border-radius: 100px;
	box-shadow: inset 0 0 1px rgba(50,50,50,0.2);
	background: #fff;
	height: 10px;
	border: 1px solid #ddd;
	outline: none;
	cursor: pointer;
}

.range::-ms-fill-lower,
.range::-ms-fill-upper {
  background: transparent;
}

.range::-ms-tooltip {
  display: none;
}

.range::-ms-thumb {
  background: #30c090;

	-ms-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0, 0.2);
		   box-shadow: inset 1px 1px 2px 0 rgba(0,0,0, 0.2);
}

::-webkit-scrollbar {  
  width: 10px;
}  

::-webkit-scrollbar-track {  
  border-radius: 100px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: inset 1px 1px 2px 0 rgba(50,50,50,0.1);
}  

::-webkit-scrollbar-thumb {  
  border-radius: 100px;
  background: #ddd;  
}  

::-webkit-scrollbar-thumb:hover {  
  background: #ccc;  
}

.loading {
	display: none;
	-webkit-animation: blink 1.2s infinite;
			animation: blink 1.2s infinite;
}

.loading.show {
	display: block;
}

@-webkit-keyframes blink {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes blink {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}

.playing {
	font-size: 1.2em;
	font-weight: bold;
	color: #33cc9c;

	-webkit-animation: blink 1.5s infinite;
	   -moz-animation: blink 1.5s infinite;
			animation: blink 1.5s infinite;
}

.opaque {
	opacity: 0.5;
	
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.opaque:hover,
.opaque:focus {
	opacity: 1;
}