*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
				 	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Segoe UI", "Calibri", sans-serif;
	font-size: 100%;
	color: #777;
	background: #EAEDF1;
	background: -webkit-radial-gradient(circle, #fff, #EAEDF1);
	background:    -moz-radial-gradient(circle, #fff, #EAEDF1);
	background:     -ms-radial-gradient(circle, #fff, #EAEDF1);
	background: 			  radial-gradient(circle, #fff, #EAEDF1);
}

.dark html, .dark body {
	color: #aaa;

	background: #5A5D61;
	background: -webkit-radial-gradient(circle, #888, #5A5D61);
	background:    -moz-radial-gradient(circle, #888, #5A5D61);
	background:     -ms-radial-gradient(circle, #888, #5A5D61);
	background: 			  radial-gradient(circle, #888, #5A5D61);
}

header, section, footer, aside, nav, main, article, figure { 
	display: block; 
}

.container {
	position: relative;
	width: 80%;
	top: 5%;
	margin: 0 auto;
	border-radius: 8px;
	background: white;
	
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.2);
	   -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.2);
		  -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.2);
		      box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.2);

    -webkit-transition: 0.2s;
	     -moz-transition: 0.2s;
	      -ms-transition: 0.2s;
	          transition: 0.2s;
}

.dark .container {
	background: #3A3D41;

	-webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0, 0.5);
	   -moz-box-shadow: 0 1px 3px 1px rgba(0,0,0, 0.5);
		  -ms-box-shadow: 0 1px 3px 1px rgba(0,0,0, 0.5);
		      box-shadow: 0 1px 3px 1px rgba(0,0,0, 0.5);
}

.header {
	background: white;
	position: relative;
	min-height: 54px;
	border-bottom: 1px solid #eee;
	line-height: 42px;

	border-radius: 8px 8px 0 0;
}

.dark .header {
	background: #3A3D41;
	border-bottom: 1px solid #444;
}

.logo {
	position: absolute;
	margin: 4px 8px;
	font-size: 1.5em;
	color: #33cc9c;
	font-weight: bold;
}

.blue .logo {
	color: #60d4d4;
}

.red .logo {
	color: #f25050;
}

.pink .logo {
	color: #E24B85;
}

.user-preferences {
	position: absolute;
	right: 50px;
	margin: 4px 8px;
}

.user-preferences:hover .wrap,
.btn-user-prefences:hover .wrap,
.btn-user-prefences:focus .wrap {
	visibility: visible;
	opacity: 1;
}

.user-preferences .wrap {
	position: absolute;
	z-index: 1;
	right: 0px;
	padding: 0;
	margin: 12px 0;
	width: 200px;
	border-radius: 8px;
	border: 1px solid #eee;
	background: #fcfcff;
	visibility: hidden;
	opacity: 0;

	-webkit-box-shadow: 1px 1px 1px 0 rgba(25,25,25, 0.1);
	   -moz-box-shadow: 1px 1px 1px 0 rgba(25,25,25, 0.1);
		  -ms-box-shadow: 1px 1px 1px 0 rgba(25,25,25, 0.1);
		      box-shadow: 1px 1px 1px 0 rgba(25,25,25, 0.1);

  -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
          transition: 0.2s;
}

.dark .user-preferences .wrap {
	background: #333;
	border: none;

	-webkit-box-shadow: 1px 2px 2px 0 rgba(25,25,25, 0.5);
	   -moz-box-shadow: 1px 2px 2px 0 rgba(25,25,25, 0.5);
		  -ms-box-shadow: 1px 2px 2px 0 rgba(25,25,25, 0.5);
		      box-shadow: 1px 2px 2px 0 rgba(25,25,25, 0.5);
}

.wrap::before {
	content: '';
	position: absolute;
	top: -15px;
	left: 170px;
	border: 7px solid transparent;
	border-bottom: 7px solid #eee;
}

.dark .wrap::before {
	border-bottom-color: #333;
}

.theme,
.color {
	list-style: none;
	padding: 0;
	margin: 0;
}

.theme {
	width: 99px;
	float: left;
	border-right: 1px solid rgba(0,0,0,0.1);
}

.color {
	width: 99px;
	float: right;
	margin: 4px 0;
}

.color-item {
	margin: 0 11px;
}

.theme-item {
	width: 100%;
	cursor: pointer;
	padding: 0 4px;
	margin: 0;
	font-size: 14px;
	text-align: center;
}

.theme-item:last-child {
	border-bottom: none;
	border-radius: 0 0 0 8px;
}

.theme-item:first-child {
	border-radius: 8px 0 0 0;
}

.theme-item:hover {
	background: #eee;
}

.dark .theme-item:hover {
	background: #4c5056;
}

.upload-wrap {
	position: absolute;
	top: 0;
	right: 0;
	margin: 4px 8px;
}

.play-list-wrap {
	position: relative;
	width: 99%;
	min-height: 200px;
	max-height: 210px;
	overflow-y: auto;
	margin: 0 8px;
}

.player-wrap {
	position: relative;
	bottom: 0;
	width: 100%;
	min-height: 150px;
	border-top: 1px solid #eee;
	text-align: center;
	padding: 20px;
	background: #fdfdfd;
	border-radius: 0 0 8px 8px;
}

.dark .player-wrap {
	background: #3A3D41;
	border-top: 1px solid #444;
}

.controls-wrap {
	margin: 0 auto;
}

.music-info {
	margin: 8px 0;
}

.timeline-wrap {
	width: 95%;
	margin: 0 auto;
}

@media screen and (max-width: 700px) {

	.container {
		width: 95%;
		top: 2%;
	}

	.play-list-wrap {
		height: 75px;
		max-height: 90px;
	}

	.timeline-wrap {
		margin: 0;
	}

	input#timeline {
		width: 50% !important;
	}

}