*, *:before, *:after {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
					box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Segoe UI", "Calibri", sans-serif;
	font-size: 100%;
}

header, section, footer, aside, nav, main, article, figure { 
	display: block; 
}

.container {
	position: relative;
	min-height: 100%;
}

.header {
	position: relative;
	height: 74px;
	border: 1px solid #ddd;
}

.side-bar {
	position: relative;
	min-height: 300px;
	height: 100%;
	width: 20%;
	border: 1px solid #ddd;
	float: left;
}

.content-wrap {
	position: relative;
	width: 80%;
	min-height: 300px;
	height: 100%;
	float: right;
	border: 1px solid #ddd;
}

	.music-list {
		border: 1px solid #ddd;
		height: 50%;
	}

	.player-wrap {
		border: 1px solid #ddd;
		height: 50%;
	}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	border: 1px solid #ddd;	
}