/*
 * TYPOGRAPH
 */
$mono-font-stack: ('Consolas', 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monaco', monospace);

/**
 * COLORS FOR PAGES AND ELEMENTS 
 */
$page-bg-color: #EAEDF1 !default;
$text-color: #757575 !default;
$border-color: #eeeeee !default;
$el-bg-color: #fafafa !default;
$el-bg-color-lighten: lighten($el-bg-color, 5%) !default;
$el-bg-color-darken: darken($el-bg-color, 5%) !default;

$dark-page-bg-color: #5A5D61 !default;
$dark-text-color: #eceff1 !default;
$dark-border-color: #444444 !default;
$dark-el-bg-color: #3A3D41 !default;
$dark-el-bg-color-lighten: lighten($dark-el-bg-color, 5%) !default;
$dark-el-bg-color-darken: darken($dark-el-bg-color, 5%) !default;

$btn-default-color: #eceff1 !default;
$btn-default-color-darken: darken($btn-default-color, 5%) !default;

/*
 * COLORS FOR USE IN THEMES
 */
$green: #33cc9c !default;
$green-lighten: lighten($green, 5%) !default;
$green-darken: darken($green, 5%) !default;

$blue: #4fc3f7 !default;
$blue-lighten: lighten($blue, 5%) !default;
$blue-darken: darken($blue, 5%) !default;

$red: #ff5555 !default;
$red-lighten: lighten($red, 5%) !default;
$red-darken: darken($red, 5%) !default;

$pink: #f06292 !default;
$pink-lighten: lighten($pink, 5%) !default;
$pink-darken: darken($pink, 5%) !default;

$purple: #ba68c8 !default;
$purple-lighten: lighten($purple, 5%) !default;
$purple-darken: darken($purple, 5%) !default;

$primary-color: $green !default;
$primary-color-lighten: lighten($primary-color, 5%) !default;
$primary-color-darken: darken($primary-color, 5%) !default;

$themes: (
	'light': (
		'bg-color': $page-bg-color,
		'text-color': $text-color,
		'border-color': $border-color,
		'el-bg-color': $el-bg-color,
		'el-bg-color-lighten': $el-bg-color-lighten,
		'el-bg-color-darken': $el-bg-color-darken
	),
	'dark': (
		'bg-color': $dark-page-bg-color,
		'text-color': $dark-text-color,
		'border-color': $dark-border-color,
		'el-bg-color': $dark-el-bg-color,
		'el-bg-color-lighten': $dark-el-bg-color-lighten,
		'el-bg-color-darken': $dark-el-bg-color-darken
	),
  'green': (
    'primary': $green,
    'lighten': $green-lighten,
    'darken': $green-darken,
    'glow': 0 0 5px $green
  ),
  'blue': (
    'primary': $blue,
    'lighten': $blue-lighten,
    'darken': $blue-darken,
    'glow': 0 0 5px $blue
  ),
  'red': (
    'primary': $red,
    'lighten': $red-lighten,
    'darken': $red-darken,
    'glow': 0 0 5px $red
  ),
  'pink': (
    'primary': $pink,
    'lighten': $pink-lighten,
    'darken': $pink-darken,
    'glow': 0 0 5px $pink
  ),
  'purple': (
    'primary': $purple,
    'lighten': $purple-lighten,
    'darken': $purple-darken,
    'glow': 0 0 5px $purple
  )
) !default;