.volume-wrap {
  position: absolute;
  right: 4px;
  bottom: 5px;
}

.volume-wrap:hover .volume-box,
.btn-volume:hover ~ .volume-box,
.btn-volume:focus ~ .volume-box {
  visibility: visible;
  opacity: 1;
}

.volume-box {
  width: 100px;
  position: absolute;
  bottom: 75px;
  left: -28px;
  background: transparent;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
      -ms-transition: 0.25s;
          transition: 0.25s;

  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

input#volume { width: 100px; }