html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $font-stack;
    font-size: 100%;
    color: $text-color;
    background-color: $page-bg-color;
    background-image: url('https://source.unsplash.com/category/nature/1920x1080');
    background-size: cover;
    background-repeat: no-repeat;
}

.dark html, 
.dark body {
    color: $dark-text-color;
    background-color: $dark-page-bg-color;
}