.bg-green {
	background-color: $green !important;
}

.bg-blue {
	background-color: $blue !important;
}

.bg-red {
	background-color: $red !important;
}

.bg-pink {
	background-color: $pink !important;
}

.bg-purple {
	background-color: $purple !important;
}