.right {
  float: right !important;
}

.left {
  float: left !important;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.half-width {
  width: 50% !important;
}

.one-third-width {
  width: 33.3333% !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-justify {
  text-align: justify !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.valign-middle {
  vertical-align: middle !important;
}

.valign-top {
  vertical-align: top !important;
}

.valign-bottom {
  vertical-align: bottom !important;
}

.valign-base {
  vertical-align: baseline !important;
}

.m-0 {
  margin: 0!important;
}

.m-t-0 {
  margin-top: 0!important;
}

.m-b-0 {
  margin-bottom: 0!important;
}

.m-l-0 {
  margin-left: 0!important;
}

.m-r-0 {
  margin-right: 0!important;
}

.m-5 {
  margin: 5px!important;
}

.m-t-5 {
  margin-top: 5px!important;
}

.m-b-5 {
  margin-bottom: 5px!important;
}

.m-l-5 {
  margin-left: 5px!important;
}

.m-r-5 {
  margin-right: 5px!important;
}

.m-10 {
  margin: 10px!important;
}

.m-t-10 {
  margin-top: 10px!important;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-l-10 {
  margin-left: 10px!important;
}

.m-r-10 {
  margin-right: 10px!important;
}

.m-15 {
  margin: 15px!important;
}

.m-t-15 {
  margin-top: 15px!important;
}

.m-b-15 {
  margin-bottom: 15px!important;
}

.m-l-15 {
  margin-left: 15px!important;
}

.m-r-15 {
  margin-right: 15px!important;
}

.m-20 {
  margin: 20px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-l-20 {
  margin-left: 20px!important;
}

.m-r-20 {
  margin-right: 20px!important;
}

.m-25 {
  margin: 25px!important;
}

.m-t-25 {
  margin-top: 25px!important;
}

.m-b-25 {
  margin-bottom: 25px!important;
}

.m-l-25 {
  margin-left: 25px!important;
}

.m-r-25 {
  margin-right: 25px!important;
}

.m-30 {
  margin: 30px!important;
}

.m-t-30 {
  margin-top: 30px!important;
}

.m-b-30 {
  margin-bottom: 30px!important;
}

.m-l-30 {
  margin-left: 30px!important;
}

.m-r-30 {
  margin-right: 30px!important;
}

.p-0 {
  padding: 0!important;
}

.p-t-0 {
  padding-top: 0!important;
}

.p-b-0 {
  padding-bottom: 0!important;
}

.p-l-0 {
  padding-left: 0!important;
}

.p-r-0 {
  padding-right: 0!important;
}

.p-5 {
  padding: 5px!important;
}

.p-t-5 {
  padding-top: 5px!important;
}

.p-b-5 {
  padding-bottom: 5px!important;
}

.p-l-5 {
  padding-left: 5px!important;
}

.p-r-5 {
  padding-right: 5px!important;
}

.p-10 {
  padding: 10px!important;
}

.p-t-10 {
  padding-top: 10px!important;
}

.p-b-10 {
  padding-bottom: 10px!important;
}

.p-l-10 {
  padding-left: 10px!important;
}

.p-r-10 {
  padding-right: 10px!important;
}

.p-15 {
  padding: 15px!important;
}

.p-t-15 {
  padding-top: 15px!important;
}

.p-b-15 {
  padding-bottom: 15px!important;
}

.p-l-15 {
  padding-left: 15px!important;
}

.p-r-15 {
  padding-right: 15px!important;
}

.p-20 {
  padding: 20px!important;
}

.p-t-20 {
  padding-top: 20px!important;
}

.p-b-20 {
  padding-bottom: 20px!important;
}

.p-l-20 {
  padding-left: 20px!important;
}

.p-r-20 {
  padding-right: 20px!important;
}

.p-25 {
  padding: 25px!important;
}

.p-t-25 {
  padding-top: 25px!important;
}

.p-b-25 {
  padding-bottom: 25px!important;
}

.p-l-25 {
  padding-left: 25px!important;
}

.p-r-25 {
  padding-right: 25px!important;
}

.p-30 {
  padding: 30px!important;
}

.p-t-30 {
  padding-top: 30px!important;
}

.p-b-30 {
  padding-bottom: 30px!important;
}

.p-l-30 {
  padding-left: 30px!important;
}

.p-r-30 {
  padding-right: 30px!important;
}

.f-8 {
  font-size: 8px!important;
}

.f-9 {
  font-size: 9px!important;
}

.f-10 {
  font-size: 10px!important;
}

.f-11 {
  font-size: 11px!important;
}

.f-12 {
  font-size: 12px!important;
}

.f-13 {
  font-size: 13px!important;
}

.f-14 {
  font-size: 14px!important;
}

.f-15 {
  font-size: 15px!important;
}

.f-16 {
  font-size: 16px!important;
}

.f-17 {
  font-size: 17px!important;
}

.f-18 {
  font-size: 18px!important;
}

.f-19 {
  font-size: 19px!important;
}

.f-20 {
  font-size: 20px!important;
}

.f-300 {
  font-weight: 300!important;
}

.f-400 {
  font-weight: 400!important;
}

.f-500 {
  font-weight: 500!important;
}

.f-700 {
  font-weight: 700!important;
}

.close,body {
  font-weight: 400
}

.p-relative {
  position: relative!important;
}

.p-absolute {
  position: absolute!important;
}

.p-fixed {
  position: fixed!important;
}

.p-static {
  position: static!important;
}

#main,.h-inner,.hi-trigger,body {
  position: relative
}

.o-hidden {
  overflow: hidden!important;
}

.o-visible {
  overflow: visible!important;
}

.no-shadow {
  box-shadow: none !important;
}

.is-timer {
  font-family: $mono-font-stack;
}