.shadow-1 {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075),
              0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.shadow-2 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.075),
              0 3px 4px 0 rgba(0, 0, 0, 0.1);
}
.shadow-3 {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.075),
              0 3px 12px 0 rgba(0, 0, 0, 0.1);
}
.shadow-4 {
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.075),
              0 4px 20px 0 rgba(0, 0, 0, 0.1);
}